DIRECTUS_URL=https://sieger-admin.previsionlab.hu
DIRECTUS_TOKEN=YOUR_DIRECTUS_TOKEN_HERE
# Publikus site URL (canonical, og:url, sitemap). Ha nincs beállítva, a nuxt.config a sieger.hu-t használja.
SITE_URL=https://sieger.hu
