@import "tailwindcss";
@import "@nuxt/ui";

@theme {
    --font-sans: "Montserrat", sans-serif;
    --font-heading: "Raleway", sans-serif;
}

@theme static {
    /* Brand kék paletta a kért kísérőszínek alapján */
    --color-brand-50: #eef6fb;
    --color-brand-100: #d6eaf5;
    --color-brand-200: #add5eb;
    --color-brand-300: #85c0e1;
    --color-brand-400: #5cabd7;
    --color-brand-500: #3a97cf;
    --color-brand-600: #2674a7;
    --color-brand-700: #1f6391;
    --color-brand-800: #18507a;
    --color-brand-900: #103b5c;
    --color-brand-950: #0b1e33;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

body {
    @apply antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
}

/* Custom premium transitions */
.transition-premium {
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.hover-glow:hover {
    box-shadow: 0 0 20px
        color-mix(in srgb, var(--ui-color-primary-500) 30%, transparent);
}
